/*body*/
body {
  min-height: 100vh;
	background-size: cover;
  margin: 0px;
  font-size: 15px;
}


/*Navigation bar styles*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #001D3D;
  font-family:Trebuchet MS;
}

li {
  float: left;
 /*border-right:1px solid #bbb;*/
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #FFC300;
}

.active {
  background-color: #FFC300;
}


/*avatar*/
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  float: right;
}


/*body*/
.bd {
  font-family:Trebuchet MS;
  font-size:15px;
}

#f1 {
	padding-left:3%;
	padding-top: 2%;
}


/*buttons*/
button, input[type=submit]{
  width:25%;
  height: 50px;
  float: left;
  padding-left: 20px;
  background-color: #001D3D;
  font-family:Trebuchet MS;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-size:15px;
  cursor: pointer;
  text-align:center;
  display: block;
  margin: 0 auto;
}


button:hover {
  background-color: #FFC300;
}


input[type=submit]:hover {
  background-color: #FFC300;
}


.f2{
	padding-left: 12%;
}

.f3{
	padding-left: 33%;
}

.f4{
	padding-left: 43%;
}

/*dropdowns*/
select{
	height: 5%;
	width: 25%;
}


/*vertical nav bar in dashboard*/
.vertical-menu {
  width: 200px;
  height:100%;
  background-color: #ffd369;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #04AA6D;
  color: white;
}


/*cards in homepage*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  height: 30%;
  background-color: #001D3D;
  border-radius:15px;
  text-align:center;
}

.card:hover{
	background-color: #FFC300;
}

.container {
  padding-left: 0px;
  padding-top: 60px;
}

.card a{
	text-decoration: none;
	color:#fff;
}

.al0{
	margin-left:0px;
	width: 20%;
}

.al1{
	margin-left:350px;
	margin-top:-15.85%;
	width: 20%;
}

.al2{
	margin-left: 700px;
	margin-top:-15.85%;
	width: 15%;
}

